<form id="formu" action="" method="">
    <label for="name">Nombre del producto</label>
    <input name="name" id="name" type="text">
    <label for="price">Precio</label>
    <input name="price" id="price" type="number">
    <label for="url">URL de la imagen del producto</label>
    <input name="thumbnail" id="url" type="url">
    <input id="send" type="submit">
    <a href="/productos">Ver lista de productos</a>
</form>

<script src="/static/js/form.js"></script>